@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 80px;
}

.container {
  width: 70%;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0 10px hsla(260, 23%, 3%, 0.5);
  gap: 50px;
  color: black;
}

form {
  width: min-content;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(20, 3, 151, 0.5);
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.siganos {
  margin-right: 15px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(20, 3, 151, 0.5);
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#idade-helper {
  margin-top: 5px;
}

li {
  position: relative;
  float: left;
  list-style: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="idade"],
textarea {
  width: 250px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2px;
}

/*Botão*/
#contact {
  background-color: orange;
  padding: 10px 15px;
  border: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
/*Botão*/
#contact:hover {
  background-color: darkorange;
  box-shadow: 0 0 10px hsla(260, 23%, 3%, 0.5);
  margin-top: 15px;
}

#response-message {
  text-align: center;
  color: black;
}

#fale {
  margin-top: 10px;
  position: relative;
}

#at {
  margin-top: 10px;
  position: relative;
}

.fale-conosco2 {
  position: relative;
  margin-left: 50%;
  bottom: 110px;
}

#globe {
  margin-top: 10px;
  position: relative;
}

#location {
  margin-top: 10px;
  position: relative;
}

.fa-brands {
  margin: 10px;
  padding: 10px;
  position: relative;
}

h1 {
  color: orangered;
}

.container-2 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 260px;
  margin-top: -8%;
  margin-right: 10px;
}
.contacts {
  display: flex;
  flex-direction: column;
}

.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
  margin-top: 2px;
}

.required-popup::after {
  content: "*Campo obrigatório";
  position: relative;
  float: right;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

#idade {
  margin-bottom: 10px;
}

#senha-helper {
  margin-bottom: 10px;
}

#confirma-senha-helper {
  margin-bottom: 10px;
}

/* 
.titulo-contato {
  margin-left: 15px;
} */

section {
  margin-bottom: 10px;
}

#contact-form {
  padding: 32px;
  margin-top: 15px;
}

label {
  font-weight: bold;
}

#nacionalidade {
  color: blue;
  font-weight: bold;
}
